.text-color {
  color: orange;
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
}

ul li {
  display: inline;
}

/* .logo{
  margin-left: auto;
  display: block;
  width: 40%
} */

.relative{
  position: relative;
  width : 400px;
  left : 40px;

}

.header{
  position: fixed;
  right: 0;
  top: 0;

}

.divHover:hover {
  border: 3px solid #73AD21;
}


.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}
.floaty {
  float: left;
}


@keyframes grow {
  from {width: 100px;
    height: 100px;}
  to {width: 200px;
  height: 200px}
}

.animation{
  animation-name: grow;
  animation-duration: 4s;
}
